.hero-center {
  min-height: 65vh;
}

.hero-title {
  font-size: 7rem !important;
  letter-spacing: 4px;
  font-weight: 900;
  line-height: 1;
  background-size: 200% auto !important;
  animation: gradientFlow 4s ease infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
